@import 'https://fonts.googleapis.com/css?family=Raleway';

.homepage {
  position: absolute;
  font: 20px Raleway;
  margin: 10%;
}

.the-end {
  position: absolute;
  font: 20px Raleway;
  margin: 10%;
}

.button {
  display: inline-block;
  border-radius: 35px;
  color: white;
  background-color: #f3b253;
  text-align: center;
  font: 20px Raleway;
  padding: 6px 40px;
  width: 160px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 10%;
  position: relative;
  top: 220px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button:hover {
  background-color: #c87f13;
  color: white;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button a:link, .start a:visited {
  color: #c87f13;
}

.button a:hover {
  color: rgb(255, 255, 255);
}


.button-1 {
  display: inline-block;
  border-radius: 35px;
  color: white;
  background-color: #f3b253;
  text-align: center;
  font: 20px Raleway;
  padding: 6px 40px;
  width: 160px;
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  bottom: 20%;
  justify-content: center;
}

.button-1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button-1:hover {
  background-color: #c87f13;
  color: white;
}

.button-1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button-1:hover span {
  padding-right: 25px;
}

.button-1:hover span:after {
  opacity: 1;
  right: 0;
}

.button-1 a:link, .start a:visited {
  color: #c87f13;
}

.button-1 a:hover {
  color: rgb(255, 255, 255);
}

body.section-1-bg {
  background-image: url("images/section1_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 body.section-4-bg {
  background-image: url("images/section4_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.section-5-bg {
  background-image: url("images/section5_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.homepage-bg {
  background-image: url("images/homepage-1.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.the-end-bg {
  background-image: url("images/the_end.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 
.section-1 {
  position: absolute;
  top: 300px;
  right: 500px;
  font: 20px Raleway;
}

.section-2 {
  position: absolute;
  top: 10px;
  right: 500px;
  font: 20px Raleway;}

.section-3 {
  position: absolute;
  top: 280px;
  left: 200px;
  font: 20px Raleway;
  max-width: 500px;
}

.section-4 {
  position: absolute;
  top: 280px;
  right: 500px;
  font: 20px Raleway;
  max-width: 500px;
}

.section-5 {
  position: absolute;
  top: 200px;
  left: 170px;
  font: 20px Raleway;
  max-width: 500px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/*Section 2 slideshow*/
.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 20px Raleway;
}

.slideshow .slide .text {
  margin: 0 auto;
  max-width: 550px;
  font-size: 20px;
  line-height: 1.4;
}
.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: rgb(0, 0, 0);
}
.slideshow .slide .btn::before {
  background: rgb(0, 0, 0);
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(149, 149, 149, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: rgb(0, 0, 0);
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: rgb(0, 0, 0);
}
.slideshow .sliders .slider {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .sliders .prev {
  left: 30px;
}
.slideshow .sliders .prev:hover .svg {
  left: -10px;
}
.slideshow .sliders .next {
  right: 30px;
}
.slideshow .sliders .next:hover .svg {
  left: 10px;
}
.slideshow .sliders .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: rgb(0, 0, 0);
  transition: left 0.2s ease;
}


.section3-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.section3-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section3-bg:first-child {
  background-image: url(images/section3-3_illustration.png);
  transform: translateY(-15vh);
}
.section3-bg:first-child .content-wrapper {
  transform: translateY(15vh);
}
.section3-bg:nth-child(2) {
  background-image: url(images/section3-2_illustration.png);
}
.section3-bg:nth-child(3) {
  background-image: url(images/section3-3_illustration.png);
}

/* Set stacking context of slides */
.section3-bg:nth-child(1) {
  z-index: 3;
}

.section3-bg:nth-child(2) {
  z-index: 2;
}

.section3-bg:nth-child(3) {
  z-index: 1;
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 20px Raleway;
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.section3-bg.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.section3-bg.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.section3-bg.up-scroll + .section3-bg {
  transform: translate3d(0, 30vh, 0);
}
.section3-bg.up-scroll + .section3-bg .content-wrapper {
  transform: translateY(30vh);
}

.section3-bg.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.section3-bg.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.section3-bg.down-scroll + .section3-bg:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.section3-bg.down-scroll + .section3-bg:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}
