@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 10%;
  background-color: #000000;
}
  
.logo {
  margin-right: auto;
}

img[src*="logo"] {
  width: 25%;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation a,
.cta {
  color: rgb(140, 140, 140);
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 15px;
  padding: 5px 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.navigation li {
  padding: 0px 20px;
}

.navigation li a:before
{
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #ec3232;
  transition: all 0.3s;
}

.navigation li a:before
{
  left: 0px;
  bottom: 0px;
}

.navigation li a:hover
{
  color: #FFF; 
}

.navigation li a:hover:before
{
  opacity: 1;
  width: 100%;
}

.navigation .current {
  color: #FFF;
}

.navigation a.current:before {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 2px;
  content: '';
  background: #ec3232;
}

body.section-1-bg {
  background-image: url("images/section1_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.section-2-bg {
  background-image: url("images/section2-1_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.section-4-bg {
  background-image: url("images/section4_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.homepage-bg {
  background-image: url("images/homepage.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.about-bg {
  background-image: url("images/about.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.the-end-bg {
  background-image: url("images/the-end.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 
.section-1 {
  position: absolute;
  top: 300px;
  right: 500px;
  font: 20px Raleway;
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
}

.section-2 {
  position: absolute;
  top: 280px;
  right: 500px;
  font: 20px Raleway;}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.arrows {
  width: 60px;
  height: 72px;
  margin-left: -30px;
  bottom: 90px;
}

.arrows path {
  stroke: rgb(140, 140, 140);
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#scroll-down {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font: 20px Raleway;
  font-size:14px;
  letter-spacing:.1em;
  color: rgb(140, 140, 140);
  position: fixed;
  right: 1%;
  text-align: center;
  bottom: 40px;
  border: 1px solid red;
}

.homepage {
  position: absolute;
  font: 20px Raleway;
  margin: 10%;
}

.contents {
  position: absolute;
  font: 20px Raleway;
  margin: 10%;
}

.the-end {
  position: absolute;
  font: 20px Raleway;
  margin: 10%;
}

.button {
  display: inline-block;
  border-radius: 35px;
  border: 2px solid #ec3232;
  color: #ec3232;
  background-color: #ffffff;
  text-align: center;
  font: 20px Raleway;
  padding: 6px 40px;
  width: 160px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 10%;
  position: relative;
  top: 200px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button:hover {
  background-color: #ec3232;
  color: white;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button a:link, .start a:visited {
  color: #ec3232;
}

.button a:hover {
  color: rgb(255, 255, 255);
}
