@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 10%;
  background-color: #000000;
}
  
.logo {
  margin-right: auto;
}

img[src*="logo"] {
  width: 25%;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation a,
.cta {
  color: rgb(140, 140, 140);
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 15px;
  padding: 5px 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.navigation li {
  padding: 0px 20px;
}

.navigation li a:before
{
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #ec3232;
  transition: all 0.3s;
}

.navigation li a:before
{
  left: 0px;
  bottom: 0px;
}

.navigation li a:hover
{
  color: #FFF; 
}

.navigation li a:hover:before
{
  opacity: 1;
  width: 100%;
}

.navigation .current {
  color: #FFF;
}

.navigation a.current:before {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 2px;
  content: '';
  background: #ec3232;
}

body.section-1-bg {
  background-image: url("images/section1_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.section-2-bg {
  background-image: url("images/section2-1_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.section-4-bg {
  background-image: url("images/section4_illustration.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.homepage-bg {
  background-image: url("images/homepage.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.about-bg {
  background-image: url("images/about.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

body.the-end-bg {
  background-image: url("images/the-end.png") ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 
.section-1 {
  position: absolute;
  top: 300px;
  right: 500px;
  font: 20px Raleway;
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
}

.section-2 {
  position: absolute;
  top: 10px;
  right: 500px;
  font: 20px Raleway;}

.section-3 {
  position: absolute;
  top: 280px;
  left: 200px;
  font: 20px Raleway;
  max-width: 500px;
}

.section-4 {
  position: absolute;
  top: 280px;
  right: 500px;
  font: 20px Raleway;
  max-width: 500px;
}

.section-5 {
  position: absolute;
  top: 200px;
  left: 170px;
  font: 20px Raleway;
  max-width: 500px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.scrolldown {
  width: 60px;
  height: 72px;
  margin-left: -30px;
  bottom: 90px;
}

.arrows path {
  stroke: rgb(140, 140, 140);
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#scroll-down {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font: 20px Raleway;
  font-size:14px;
  letter-spacing:.1em;
  color: rgb(140, 140, 140);
  position: fixed;
  right: 1%;
  text-align: center;
  bottom: 40px;
  border: 1px solid red;
}

.homepage {
  position: absolute;
  font: 20px Raleway;
  margin: 10%;
}

.contents {
  position: absolute;
  font: 20px Raleway;
  margin: 10%;
}

.the-end {
  position: absolute;
  font: 20px Raleway;
  margin: 10%;
}

.button {
  display: inline-block;
  border-radius: 35px;
  border: 2px solid #ec3232;
  color: #ec3232;
  background-color: #ffffff;
  text-align: center;
  font: 20px Raleway;
  padding: 6px 40px;
  width: 160px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 10%;
  position: relative;
  top: 200px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button:hover {
  background-color: #ec3232;
  color: white;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button a:link, .start a:visited {
  color: #ec3232;
}

.button a:hover {
  color: rgb(255, 255, 255);
}



/*Section 2 slideshow*/
.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 20px Raleway;
}

.slideshow .slide .text {
  margin: 0 auto;
  max-width: 550px;
  font-size: 20px;
  line-height: 1.4;
}
.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: rgb(0, 0, 0);
}
.slideshow .slide .btn::before {
  background: rgb(0, 0, 0);
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(149, 149, 149, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: rgb(0, 0, 0);
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: rgb(0, 0, 0);
}
.slideshow .sliders .slider {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .sliders .prev {
  left: 30px;
}
.slideshow .sliders .prev:hover .svg {
  left: -10px;
}
.slideshow .sliders .next {
  right: 30px;
}
.slideshow .sliders .next:hover .svg {
  left: 10px;
}
.slideshow .sliders .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: rgb(0, 0, 0);
  transition: left 0.2s ease;
}