html, body {
    height: 100%;
    width: 100%;
  }
  body.box-up-page {
      background-image: url('images/box-bg.png');
      background-size: cover;
  }
  
  main {
      height: 100vh;
      width:100vw;
      position: relative;
      overflow:hidden;
  }
  .bg {
      width:100vw;
  }
  .bg-img {
      width:100%;
      z-index:-2;
      position: absolute;
      top: -70vh;
      left:0;
      animation-name: bg-down;
      animation-duration: 8s;
      animation-fill-mode: forwards;
      animation-delay:2s;
  }
  @keyframes bg-down {
      0%{top: -70vh; }
      100%{top: 0vh; }
  }
  
  .box-div .box-whole {
      width:20vw;
      position: absolute;
      bottom: 5vh;
      left:40vw;
      z-index:-1;
  }
  .box-div .box-front {
      width:20vw;
      position: absolute;
      bottom: 4.3vh;
      left:40vw;
      z-index:99;
  }

  .red {
      animation-delay: 1s;
      animation-duration: 6s;
      width:10vw;
      position: absolute;
      bottom: 6vh;
      left:40vw;
      animation-name: float-up;
      animation-fill-mode:forwards;
      animation-timing-function:linear;
  }
  .blue {
      animation-delay: 3s;
      animation-duration: 6s;
      width:10vw;
      position: absolute;
      bottom: 9vh;
      left:40vw;
      animation-name: float-up-1;
      animation-fill-mode:forwards;
      animation-timing-function:linear;
  }

  .yellow {
    animation-delay: 2s;
    animation-duration: 6s;
    width:10vw;
    position: absolute;
    bottom: 6vh;
    left:45vw;
    animation-name: float-up-2;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}

@keyframes float-up {
    0% { transform:translateY(0) translateX(0);}
    50% { transform:translateY(-45vh)translateX(-3vw);}
    75% { transform:translateY(-80vh)translateX(3vw);}
    100% { transform:translateY(-110vh) translateX(-3vw);}
}
  
@keyframes float-up-1 {
      0% { transform:translateY(0) translateX(0);}
      50% { transform:translateY(-45vh)translateX(3vw);}
      75% { transform:translateY(-80vh)translateX(-4vw);}
      100% { transform:translateY(-110vh) translateX(1vw);}
}

@keyframes float-up-2 {
    0% { transform:translateY(0) translateX(0);}
    50% { transform:translateY(-50vh)translateX(10vw);}
    75% { transform:translateY(-100vh)translateX(3vw);}
    100% { transform:translateY(-110vh) translateX(-3vw);}
}